<style>
    .main {
        max-width: 89em;
    }

    .type a {
        color: hsl(0, 0%, 21%);
        font-weight: 600;
    }

    .type a:visited {
        color: hsl(0, 0%, 41%);
    }

    .black a {
        color: black;
        font-weight: 800;
    }

    .is-vertical-center {
        display: flex;
        align-items: center;
    }

    .breadcrumb {
        font-size: 1.64rem;
    }

    .breadcrumb a{
        color: black;
        font-weight: 500;
    }

    .breadcrumb .is-active{
        color: hsl(0, 0%, 28%);;
        font-weight: 800;
    }

    body {
        font-size:  1.9rem;
    }
</style>